<!DOCTYPE html>
<html>
<head>
    <title>Créer un message</title>
    <link rel="stylesheet" href="/assets/creation.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
</head>
<body>

    <header>
        <a href="homepage" class="head">FORHUM.</a>
        <input class="search" type="search" placeholder="rechercher">
        <a class="creation" href="/createpost"> CRÉER. </a>
    </header>

    <img src="/assets/images/rhum.png" alt="rhum" class="ruuu">
    <div class="all">
        <h1><span>CREER</span>Publication</h1>
        <div class="backs">


            <form action="/save-message" method="post" enctype="multipart/form-data">
            
                <div class="titcon">
                    <input class="titt" type="text" id="title" name="title" placeholder="Titre"><br>
                    <textarea class="textarea" id="content" name="content" placeholder="Écrivez votre post ici..."></textarea> <br>
                    
                </div>
                <input class="inpp" type="submit" value="Créer">
            </form>
        </div>
    </div>
</body>
</html>
